body {
  background-color: #232323;
}
h1{
  color: white;
  margin: 0 auto;
  text-align: center;
}
#stripe {
  background-color: white;
  text-align: center;
  height: 30px;
}
.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#container{
  margin: 0 auto;
  max-width: 600px;
}

#message {
  color: black;
  align-content: center;
}
